{% extends "base.html" %}

{% block title %}
Dashboard
{% endblock %}

{% block content %}

<h1 class="mb-4">
    Dashboard
</h1>

<div class="row">

    <div class="col-md-3">

        <div class="card shadow">

            <div class="card-body">

                <h5>👤 Klanten</h5>

                <h1>0</h1>

            </div>

        </div>

    </div>

    <div class="col-md-3">

        <div class="card shadow">

            <div class="card-body">

                <h5>📁 Projecten</h5>

                <h1>0</h1>

            </div>

        </div>

    </div>

    <div class="col-md-3">

        <div class="card shadow">

            <div class="card-body">

                <h5>🔋 ESS</h5>

                <h1>0</h1>

            </div>

        </div>

    </div>

    <div class="col-md-3">

        <div class="card shadow">

            <div class="card-body">

                <h5>📄 Offertes</h5>

                <h1>0</h1>

            </div>

        </div>

    </div>

</div>

{% endblock %}